#root{
  margin-left: 20px;
}
.App {
  text-align: center;
}

p{
  font-size: large;
}

button{
  padding: 10px;
  font-size: large;
}

h3 {
  margin: 20px;
  font-size: larger;
}

li {
  list-style-type: none;
  margin: 10px;
}